<div class="certificate-container show">
  <div class="certificate-preview">
    <div class="certificate-badge">🏆</div>
    <p class="certificate-text">Este certificado é concedido a</p>
    <h3 class="certificate-recipient">{{ studentName() }}</h3>
    <p class="certificate-text">Por ter concluido o curso {{ courseName() }} com carga horária de {{ courseDuration() }} horas</p>
    <p class="certificate-course">{{ courseName() }} </p>
    <p class="certificate-date">Data de conclusão: {{ formattedDate() }}</p>
  </div>
  <div class="certificate-actions">
    <button class="btn btn-secondary">👁️ Visualizar</button>
    <button class="btn btn-primary">📥 Baixar Certificado</button>
  </div>
</div>
